jupyterlab
numpy~=1.25.2
pandas~=2.0.3
matplotlib~=3.7.2
streamlit==1.26.0
python-dotenv==1.0.0
tk
folium~=0.14.0
geopandas~=0.14.0
shapely~=2.0.1
requests~=2.31.0
beautifulsoup4~=4.12.2
Scrapy~=2.11.0
itemadapter~=0.8.0
pygwalker
statsmodels
selenium
webdriver-manager
scrapy-splash
scikit-learn